#enterprise{
  background-color: whitesmoke;
  color: #454545;
}

.top{
  width: 100%;
  height: 136px;
  background-color: #00aba9;
  background-image: url("../../img/cloth/cloth4.png");
}
.content hr{
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  margin: 0px;
  margin-bottom: 8px;
}

.top h1{
  color: whitesmoke;
}

.content h3{
  display: inline-block;
  padding: 6px;
  color: whitesmoke;
  background-color: rgba(22, 79, 121, 0.8);
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 0px;
}

.content ul, .content ul{
  padding-left: 16px;
}
.content li{
  list-style-type: none;
}
.content li:before{
  display: list-item;
  content: " ";
  list-style-type: square;
  width: 0px;
  height: 0px;
}
.content li:nth-of-type(4n):before{
  color: #00aba9;
}
.content li:nth-of-type(4n+1):before{
  color: #d80073;
}
.content li:nth-of-type(4n+2):before{
  color: #f0a30a;
}
.content li:nth-of-type(4n+3):before{
  color: #60a917;
}
.content img{
  height: auto;
  display: block;
  margin: 0 auto;
}

.content h2{
  padding-left: 8px;
}

.content h2:nth-of-type(4n){
  border-left: 8px solid #00aba9;
}

.content h2:nth-of-type(4n+1){
  border-left: 8px solid #d80073;
}

.content h2:nth-of-type(4n+2){
  border-left: 8px solid #f0a30a;
}

.content h2:nth-of-type(4n+3){
  border-left: 8px solid #60a917;
}

@media (max-width: 1200px){
}
@media (max-width: 992px){
}
@media (max-width: 768px){
  h1{
    font-size: 24px;
  }
  .content h2{
    font-size: 24px;
    margin: 8px 0px;
  }
  .content p{
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 16px;
  }
  .content img{
    margin-bottom: 8px;
  }
}
